<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/lock.png">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style="text-align: center; margin-top: 5%; font-size: 70px; font-weight: bold;">Welcome!</p>
        <p style="text-align: center; margin-top: 5%; font-size: 30px;">Use this website to <a href="/signup"> create an account</a> or <a href="/login">login back</a>!</p>
    </div>

    {{>footer}}
</body>

</html>