<!DOCTYPE html>

<html>

<head>
    <title>Succes!</title>
    <link rel="icon" href="/img/lock.png">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <br>

        <div class="alert alert-success" role="alert" style="text-align: center">
        {{message}} - Click here to <a href="/login">LOGIN</a>
        </div>

    </div>
</body>

</html>